<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Rango</title>
        <!--link rel = "stylesheet" href = "{% static "css/base.css" %}" />
        <script src = "{% static "js/jquery.js" %}"></script-->
    </head>

    <body>
        hey there!<br />
            <strong>{{ boldmessage }}</strong><br />
        
        <div>Hello world!</div>>

        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                <li>
                    <a href = "/rango/category/{{ category.slug }}"></a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about/">About</a><br />
            <a href="/rango/add_category/">Add a Category</a><br />
            <img src="{% static " images/rango.jpg" %}" alt="Picture of Rango" />
        </div>
    </body>
</html>